.rotate {
    animation: rotation 2s infinite linear;
    height: 20%;
    width: 20%;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
}

.centerText{
    text-align: center;
}

.header {
  font-size: 60px;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
  border: 2px solid white;
  width: 40%
}

.backImg {
  filter:  brightness(50%);
  width: 100%;
}

.bottomBorderText {
  text-align: center;
  height: fit-content;
  margin: auto;
  border-bottom: 2px solid black;
  width: 20%;
  padding-top: 2%;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }